.nag-extend-text-outer
{
	position: relative;
}

.nag-extend-text-inner
{
	position: relative;
}

.nag-extend-text-tag-container
{
	position: absolute;
	padding: 3px;
	float: left;
	z-index: 2;
}

.nag-extend-text-tag-container ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
}

.nag-extend-text-tag
{
	display: inline-block;
	margin-right: 6px;
	float: left;
	position: relative;
}

.nag-extend-text-tag-text
{
	display: inline-block;
	background-color: rgb(184, 215, 235);
	border: 1px solid rgb(95, 134, 142);
	border-radius: 2px;
	padding: 0 2px;
}

.nag-extend-text-tag.selected .nag-extend-text-tag-text {
	border: 1px solid rgb(255, 0, 0);
}

.nag-extend-text-tag-remove
{
	position: relative;
	left: 1px;
	cursor: pointer;
}

.nag-extend-text ul,
.nag-extend-text li
{
	margin: 0;
	padding: 1px;
}

.nag-extend-text ul
{
	list-style: none;
	cursor: pointer;
}

.nag-extend-text-textarea
{
	resize: none;
	position: absolute;
	margin: 0;
	width: 100%;
	z-index: 1;
	overflow: hidden;
	white-space: nowrap;
	height: inherit;
	box-sizing: border-box;
}

.nag-extend-text-options {
	position: absolute;
	border: 1px solid $color-black;
	box-sizing: border-box;
	background-color: $color-white;
	z-index: 1;
}

.nag-extend-text-option-focus
{
	background: #E1E9F6;
}
