@font-face {
	font-family: 'nag-icon-fonts';
	src:url('../fonts/icon-font.eot');
	src:url('../fonts/icon-font.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icon-font.svg#entypo') format('svg'),
		url('../fonts/icon-font.woff') format('woff'),
		url('../fonts/icon-font.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//todo: class should be nag-font-icon not font-icon to avoid clashing with other icon fonts that might be present
/* Use the following CSS code if you want to have a class per icon */
[class^="font-icon-"]:before, [class*=" font-icon-"]:before {
	font-family: 'nag-icon-fonts';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

[class^="font-icon-"]:after, [class*=" font-icon-"]:after {
	font-family: 'nag-icon-fonts';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.font-icon-previous:before {
	content: "\e000";
}
.font-icon-first:before {
	content: "\e001";
}
.font-icon-last:before {
	content: "\e002";
}
.font-icon-next:before {
	content: "\e003";
}
.font-icon-circle-arrow-down:before {
	content: "\e004";
}
.font-icon-circle-arrow-up:before {
	content: "\e005";
}
.font-icon-double-arrow:before {
	content: "\e006";
}
.font-icon-setting-knobs:before {
	content: "\e007";
}
.font-icon-unique-arrow-right:before {
	content: "\e008";
}
.font-icon-unique-arrow-down:before {
	content: "\e009";
}
.font-icon-unique-arrow-up:before {
	content: "\e00a";
}
.font-icon-unique-arrow-left:before {
	content: "\e00b";
}

.font-icon-previous-after:after {
	content: "\e000";
}
.font-icon-first-after:after {
	content: "\e001";
}
.font-icon-last-after:after {
	content: "\e002";
}
.font-icon-next-after:after {
	content: "\e003";
}
.font-icon-circle-arrow-down-after:after {
	content: "\e004";
}
.font-icon-circle-arrow-up-after:after {
	content: "\e005";
}
.font-icon-double-arrow-after:after {
	content: "\e006";
}
.font-icon-setting-knobs-after:after {
	content: "\e007";
}
.font-icon-unique-arrow-right-after:after {
	content: "\e008";
}
.font-icon-unique-arrow-down-after:after {
	content: "\e009";
}
.font-icon-unique-arrow-up-after:after {
	content: "\e00a";
}
.font-icon-unique-arrow-left-after:after {
	content: "\e00b";
}
