@font-face {
  font-family: 'nag-icon-fonts';
  src:url('../fonts/nag-icon-font.eot');
  src:url('../fonts/nag-icon-font.eot?#iefix') format('embedded-opentype'),
      url('../fonts/nag-icon-font.svg#entypo') format('svg'),
      url('../fonts/nag-icon-font.woff') format('woff'),
      url('../fonts/nag-icon-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="nag-icon-font-"]:before, [class*=" nag-icon-font-"]:before {
  font-family: 'nag-icon-fonts';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

[class^="nag-icon-font-"]:after, [class*=" nag-icon-font-"]:after {
  font-family: 'nag-icon-fonts';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.nag-icon-font-previous:before {
  content: "\e000";
}
.nag-icon-font-first:before {
  content: "\e001";
}
.nag-icon-font-last:before {
  content: "\e002";
}
.nag-icon-font-next:before {
  content: "\e003";
}
.nag-icon-font-circle-arrow-down:before {
  content: "\e004";
}
.nag-icon-font-circle-arrow-up:before {
  content: "\e005";
}
.nag-icon-font-double-arrow:before {
  content: "\e006";
}
.nag-icon-font-setting-knobs:before {
  content: "\e007";
}
.nag-icon-font-small-arrow-left:before {
  content: "\e008";
}
.nag-icon-font-small-arrow-down:before {
  content: "\e009";
}
.nag-icon-font-small-arrow-right:before {
  content: "\e00a";
}
.nag-icon-font-small-arrow-up:before {
  content: "\e00b";
}

.nag-icon-font-previous-after:after {
  content: "\e000";
}
.nag-icon-font-first-after:after {
  content: "\e001";
}
.nag-icon-font-last-after:after {
  content: "\e002";
}
.nag-icon-font-next-after:after {
  content: "\e003";
}
.nag-icon-font-circle-arrow-down-after:after {
  content: "\e004";
}
.nag-icon-font-circle-arrow-up-after:after {
  content: "\e005";
}
.nag-icon-font-double-arrow-after:after {
  content: "\e006";
}
.nag-icon-font-setting-knobs-after:after {
  content: "\e007";
}
.nag-icon-font-small-arrow-left-after:after {
  content: "\e008";
}
.nag-icon-font-small-arrow-down-after:after {
  content: "\e009";
}
.nag-icon-font-small-arrow-right-after:after {
  content: "\e00a";
}
.nag-icon-font-small-arrow-up-after:after {
  content: "\e00b";
}
