.nag-tabs > .tabs {
	margin: 0;
	padding: 0;
}

.nag-tabs > .tabs li {
	padding: 3px;
	display: inline-block;
	border: 1px solid rgb(227, 227, 227);
	border-bottom: none;
	cursor: pointer;
}

.nag-tabs > .tabs li.active {
	background-color: rgb(227, 227, 227);
}

.nag-tabs > .tabs li a:hover {
	text-decoration: none;
}

.nag-tabs .tab-content-item {
	display: none;
}

.nag-tabs .tab-content-item.active {
	border-top: 1px solid rgb(227, 227, 227);
	display: block;
}

.clearfix {
	@include pie-clearfix();
}
