.nag-tabs .nag-tabs-container {
	margin: 0;
	padding: 0;
}

.nag-tabs .nag-tabs-container > li {
	padding: 3px;
	display: inline-block;
	border: 1px solid rgb(227, 227, 227);
	border-bottom: none;
	cursor: pointer;
}

.nag-tabs .nag-tabs-container > li.active {
	background-color: rgb(227, 227, 227);
}

.nag-tabs .nag-tabs-container > li a:hover {
	text-decoration: none;
}

.nag-tabs .nag-tab-content > .nag-tab-content-item {
	display: none;
}

.nag-tabs .nag-tab-content > .nag-tab-content-item.active {
	border-top: 1px solid rgb(227, 227, 227);
	display: block;
}
